In [23]:
import os
import random as r
import numpy as np
import pandas as pd
image_dir = os.path.abspath('image_data/images')
root_dir  = os.path.abspath('.')
print root_dir

/home/sam/photo_taggers

In [21]:
image_list = pd.read_csv(os.path.join(root_dir,'actions.csv'))
#image_list.head(20)

,img,act_class,act_name
0,037454012.jpg,NaN,NaN
1,095071431.jpg,NaN,NaN
2,073199394.jpg,NaN,NaN
3,059865848.jpg,NaN,NaN
4,015601864.jpg,sports,curling
5,015599452.jpg,sports,curling
6,005808361.jpg,sports,curling
7,086617615.jpg,sports,curling
8,060111501.jpg,sports,curling
9,070807258.jpg,sports,curling
10,002058449.jpg,sports,curling
11,096990985.jpg,NaN,NaN
12,083244264.jpg,NaN,NaN
13,021233911.jpg,inactivity quiet/light,sitting quietly
14,018182497.jpg,inactivity quiet/light,sitting quietly
15,018340451.jpg,miscellaneous,sitting talking in person on the phone compute...
16,030424224.jpg,miscellaneous,sitting talking in person on the phone compute...
17,052475643.jpg,miscellaneous,sitting talking in person on the phone compute...
18,043194502.jpg,miscellaneous,sitting talking in person on the phone compute...
19,029122914.jpg,occupation,truck driving loading and unloading truck tyin...

In [36]:
#help(image_list.dropna)
image_list_clean = image_list.dropna()
#image_list_clean.head(20)
image_list_shuffle = image_list_clean.reindex(np.random.permutation(image_list_clean.index))
# print(image_list_shuffle.head(20))

#print(image_list_shuffle[image_list_shuffle.img == '029122914.jpg'])
for row in image_list_shuffle:
    print(row)
    
#print(image_list_shuffle.iloc[1:10,:])

img
act_class
act_name

In [56]:
r.shuffle(ds)

In [57]:
len(ds) * 0.8

24268.800000000003

In [58]:
with open(root_dir + '/../train_lst.txt', 'w') as f:
    f.write(''.join(ds[:24172]))
with open(root_dir + '/../test_lst.txt', 'w') as f:
    f.write(''.join(ds[24172:]))
f.close()